/* login.css */
body {
  font-family: Arial, sans-serif;
  background-color: #008080;
  height: 100vh;  /* Set height of body to full screen */
  display: flex;
  justify-content: center;  /* Horizontally center the login box */
  align-items: center;      /* Vertically center the login box */
}
  
  .login-container {
    width: 30vw;
    height: 50vh;
    margin: auto;
    padding: 1vw;
    background: #D8E6E6;
    border-radius: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .password-header {
    text-align: center;
    color: #008080;
    font-style: bold;
    font-size: 4vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    color: #008080;
  }

  .username {
    color:#008080;
  }
  
  label {
    margin-bottom: 2vh;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 1vh;
    border: 0.1vw solid #008080;
    border-radius: 1vw;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #008080;
    outline: none;
  }
  
  .login-button {
    padding: 2vh;
    color: white;
    background-color: #008080;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #008080;
  }
  
  .login-button:active {
    background-color: #008080;
  }
  
  .login-container a {
    text-align: center;
    display: block;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }